<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sam.SuiviMedical"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/doctor_ic"
        android:label="@string/app_name" >
        <activity
            android:name=".SuiviMedicalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="patientActivities.PatientMainActivity" >
        </activity>
        <activity android:name="doctorActivities.ReportCreation" >
        </activity>
        <activity android:name="patientActivities.PatientFile" >
        </activity>
        <activity android:name="patientActivities.PatientMeds" >
        </activity>
        <activity android:name="sam.SuiviMedical.GraphActivity" >
        </activity>
        <activity android:name="patientActivities.PatientSendInfos" >
        </activity>
        <activity android:name="doctorActivities.EventVisualization" >
        </activity>
        <activity android:name="doctorActivities.PrescriptionCreation" >
        </activity>
        <activity android:name="doctorActivities.DiagnosisCreation" >
        </activity>
        <activity android:name="doctorActivities.ActionRequest" >
        </activity>
        <activity android:name="patientActivities.PatientSkype" >
        </activity>
        <activity android:name="doctorActivities.PatientsList" >
        </activity>
        <activity android:name="doctorActivities.PatientEventsList" >
        </activity>
        <activity android:name="doctorActivities.PatientEventModification" >
        </activity>
        <activity android:name="patientActivities.PatientMedscc" >
        </activity>
        <activity android:name="patientActivities.PatientEvent" >
        </activity>
        <activity android:name="doctorActivities.EventCreation" >
        </activity>
        <activity android:name="doctorActivities.Prescription" >
        </activity>
        <activity android:name="doctorActivities.DoctorMedsc" >
        </activity>
        <activity
            android:name=".phonecalls"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

</manifest>